/* Estilos específicos da página UGC Creator */
/* Coloque aqui os estilos específicos da página UGC Creator */
/* Estilos específicos da página UGC Creator */

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
}

.text {
    font-family: "Antic Didone", sans-serif;
    color: #203F51;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Carmela Regular", sans-serif;
    color: #203F51;
}

/* Estilos para layout de fotos e vídeos */
.container {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    width: 100%;
}

.photos, .videos {
    width: 50%;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
/* Certifique-se de que o vídeo também é responsivo */
.video video {
    width: 100%;
    height: auto;
}


.photo img,
.video iframe {
    width: 100%;
    height: auto;
}

/* Estilos para seção de textos */
.text-section {
    margin-top: 50px;
}

.text-section h2 {
    font-size: 24px;
    color: #203F51;
}

.text-section p {
    font-size: 16px;
    color: #203F51;
    line-height: 1.5;
}

.buttons {
    margin-top: 30px;
    display: flex;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #5a8cc2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6e8ba9;
}


/* ESTILO PADRÃO TODAS AS PAGINAS INICIA AQUI*/


/* Estilos da barra de navegação */
.header {
    background-color: #D0E2F0;
    padding: 12px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header .logo {
    font-size: 20px;
}

.header .logo .name,
.header .menu ul li a {
    color: #203F51;
    font-family: 'Antic didone', sans-serif;
    text-decoration: none;
}

.header .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header .menu ul li {
    display: inline;
    margin-right: 10px;
}

.header .menu ul li:last-child {
    margin-right: 0;
}

.header .menu ul li a.active {
    text-decoration: underline;
}

.header .social-icons a {
    margin-left: 12px;
}

.header .icon {
    width: 15px;
}
/* Estilos do rodapé */
.footer {
    background-color: #D0E2F0;
    color: #203F51;
    padding: 7px;
}

.footer .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer a {
    color: #203F51;
    text-decoration: none;
}

.footer .social-icons img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.footer .navigation,
.footer .requests,
.footer .social-icons {
    margin-bottom: 20px;
}
/* Aqui estarão as configurações para as letras */
.section-title {
    color: #3B6977;
    font-family: 'CARMELA REGULAR';
    font-size: 2em;
    margin-bottom: 40px;
}
body {
    background-color: #F2F8FB; /* Cor de fundo do site */
    color: #203F51; /* Cor do texto */
    font-family: 'Antic didone';/* Fonte do texto */

}

/* ESTILO PADRÃO TODAS AS PAGINAS FINALIZA AQUI*/
